
a{
    color:#1F2833;
}

::selection {
    background:#1F2833;
}

::-moz-selection{
    background:#1F2833;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus{
    border: 2px solid #1F2833;
}



.btn-default:hover,.btn-default:active{
    border-color:#1F2833 !important;
    color:#1F2833;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    color:#1F2833;
}

.navbar {
    background-color: #1F2833;
}

.navbar-custom .nav li a {
    border-top: 3px solid #1F2833;
}

.navbar-custom .nav li.active a {
    color: #FFF;
    border-top: 3px solid #FFF;
}

.section-heading h2 {
    color: #1F2833;
}

.progress-bar {
    background:#1F2833;
}

.facts-detail span {
    color:#1F2833;
}

.service-box-icon {
    background:#1F2833;
}

.portfolio-filters li {
    border: 2px solid #1F2833;
}

.portfolio-filters li:hover{
    background-color: #1F2833;
    border-color:#1F2833;
}

.portfolio-filters li.active{
    background-color:#1F2833;
    border-color:#1F2833;
}

.image-overlay{
    background: #0000FF;
}

.cv-timeline-main:before {
    background:#1F2833;
}

.cv-timeline-main > li .time-icon {
    color: #1F2833;
}

.cv-timeline-main h4 {
    color: #1F2833;
}

#testimonials .owl-controls .owl-page.active span {
    background: #1F2833;
}

.contact-address i {
    border: 1px solid #1F2833;
    color: #1F2833;
}

.scrollup {
    background:#0000FF;
}

.scrollup:hover{
    background:#0000FF;
}

footer {
    background:#1F2833;
}

footer ul.footer-social li a:hover {
    color: #1F2833;
}